{% assign badges = site.data.data.badges %}
{% if badges %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ badges.title }}
  </h2>

  {% if badges.intro %}
  <div class="intro">
      <p>{{ badges.intro }}</p>
  </div><!--//intro-->
  {% endif %}
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="e53f9c02-5aad-45f7-8101-2617f6cc6ae5" data-share-badge-host="https://www.credly.com"></div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="56ffffec-6577-4d61-aee2-6b3c4543320a" data-share-badge-host="https://www.credly.com"></div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="6955489f-3e60-4b07-86b3-bcb3c9a7bab6" data-share-badge-host="https://www.credly.com"></div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="f227fd5f-8da8-4c09-aa55-0208f51ce2cc" data-share-badge-host="https://www.credly.com"></div>

  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="282546a8-cc3d-4662-9903-276964533f56" data-share-badge-host="https://www.credly.com"></div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0fc6726e-679e-432e-9592-ca5845760304" data-share-badge-host="https://www.credly.com"></div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0636d730-3098-4aea-928a-59e97e9fd170" data-share-badge-host="https://www.credly.com"></div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="3697a2f0-6351-442a-a21a-ebea2355b5e2" data-share-badge-host="https://www.credly.com"></div>
  <div 
    data-iframe-width="150" 
    data-iframe-height="270" 
    data-share-badge-id="af20c610-89dd-4dcc-9067-e6912614dbaa" 
    data-share-badge-host="https://www.credly.com">
  </div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="d281ecd7-b093-464c-85af-c254eeb498e3" data-share-badge-host="https://www.credly.com"></div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0f7d4c49-cc34-4bd7-bee5-b64006f73d49" data-share-badge-host="https://www.credly.com"></div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="d3d3dd09-0f6f-4fc2-ac9e-ba0918b61882" data-share-badge-host="https://www.credly.com"></div>
  <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
  <!-- {% for badge in badges.badges %}
    <div class="item">
      <span class="project-title">
        {% if badge.link %}
        <a href="{{ bagge.link }}" target="_blank">{{ badge.title }}</a>
        {% else %}
        {{ badge.title }}
        {% endif %}
      </span>

      {% if badge.tagline %}
      - <span class="project-tagline">{{ badge.tagline }}</span>
      {% endif %}



    </div>-->
  {% endfor %} 

</section><!--//section-->
{% endif %}
